<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Books</h1>
     <%data.map((el)=>{ %>
          <img src="<%= el.image %>" alt="<%= el.name %>" width="150px" height="150px">
          <h1><%= el.name %> - <%= el.author %></h1>
          <a href="/delete/<%= el._id %>">Delete</a>
          <a href="/edit/<%= el._id %>">Edit</a>
     <% }) %>
</body>
</html>